/* Hero Section */
.about-us-hero {
    position: relative;
    width: 100%;
    height: 350px;  /* Set the desired height for the hero container */
    overflow: hidden; /* Hide any overflowed content */
    opacity: 0.8;
}
.desc-black{
    color: #000000;
    font-weight: bold;
}

.right-btn{
    margin-left: 10px;
    border-radius: 8px;
}
.left-btn{
    margin-right: 10px;
    border-radius: 8px;
}

.right-btn:hover {
    color: #febe60;
    
}
.left-btn:hover {
    color: #febe60;
    
}
.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Ensures the image covers the entire container without distortion */
}

/* General styles for responsive typography and layout */
body {
    font-family: Poppins, sans-serif;
    font-size: 1rem;  /* Base font size */
}

.headinginfo {
    text-align: left;
}

.col-12 {
    width: 100%;
    margin-bottom: 1rem;
}

/* Main heading styling */
.text-4xl {
    font-size: 2.625rem;  /* 42px */
    text-align: center;
    padding-right: 80px;
}

.description {
    font-size: 1.2rem;  /* 18px */
    color: #4b5563;  /* Gray text color */
    display: flex;
    justify-content: space-between;
    /* gap: 10px; */
}
.font-bold {
    font-weight: 700; /* Bold text */
}

.text-blue-900 {
    color: #000000;
}

.text-gold-500 {
    color: #febe60;
}

/* Mobile responsive styles */
@media (max-width: 767px) {
    .text-4xl {
        font-size: 1.875rem;  /* 30px */
        text-align: center;
        padding-right: 0;
    }

    .about-us-hero {
        height: 250px;  /* Adjust height for smaller screens */
    }

    .hero-image {
        object-fit: cover;
        height: 100%;
    }

    /* Make sure Info section adjusts on mobile */
    .container-fluid {
        padding: 15px;
    }

    .row {
        flex-direction: column;  /* Stack columns vertically on smaller screens */
        align-items: center;
    }

    .col-md-6 {
        width: 100%;  /* Ensure each column takes up the full width */
        margin-bottom: 15px;
    }

    .text-gray-600 {
        font-size: 0.875rem;  /* Make text slightly smaller on mobile */
    }

    .text-2xl {
        font-size: 1.5rem;  /* 24px */
    }

    .text-gray-500 {
        font-size: 1rem;  /* 16px */
    }

    /* Image responsiveness */
    .placeholder-image {
        height: 250px;
    }

    /* Button and pagination adjustments */
    .mt-4 {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    button {
        padding: 8px 12px;
    }

    .h-1 {
        width: 30px;
    }

    .w-12 {
        width: 30px;
    }
}

/* Medium screen devices (Tablets) */
@media (max-width: 1024px) {
    .text-4xl {
        font-size: 2.25rem;  /* 36px */
    }

    .col-md-6 {
        width: 50%;  /* Split columns evenly on medium screens */
    }

    .text-gray-600 {
        font-size: 1rem;  /* 16px */
    }
}

/* Large Screens */
@media (min-width: 1025px) {
    .text-4xl {
        font-size: 2.625rem;  /* 42px */
    }
}
