.contact-container {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../assets/office1.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-size: cover;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
  }
  
  .contact-info {
    color: white;
    padding: 4rem;
    display: flex;
    align-items: center;
  }
  
  .contact-content {
    max-width: 500px;
  }
  
  .main-title {
    font-size: 3rem;
    font-weight: 700;
    color: #febe60;
    margin-bottom: 1.5rem;
    line-height: 1.2;
    text-align: left;
    /* position: relative; */
    bottom: 85px;
  }
  
  .subtitle {
    font-size: 1.1rem;
    margin-bottom: 3rem;
    color: #e0e0e0;
    opacity: 0.9;
    text-align: left;
  }
  
  .contact-details {
    margin-top: 1rem;
    margin-bottom: 22rem;
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .icon-wrapper {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
  }
  
  .icon-wrapper i {
    font-size: 1.5rem;
  }
  
  .info-text p {
    margin-bottom: 0.2rem;
    opacity: 0.8;
    font-size: 18px;
    text-align: left;
  }
  
  .info-text h3 {
    font-size: 1.1rem;
    margin: 0;
    text-align: left;
    color: #e0e0e0 ;
  }
  
  
  .contact-form-wrapper {
    background: white;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 2rem;
  }
  
  .form-title {
    color: #febe60;
    font-size: 2.8rem;
    margin-bottom: 2rem;
    font-weight: bold;
  }
  
  .form-label {
    color: #333;
    font-weight: 500;
    margin-bottom: 0.5rem;
    text-align: left;
    display: block;
  }
  
  .form-control1, .form-select1 {
    padding: 0.8rem;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
  }
  
  .form-control1:focus, .form-select1:focus {
    border-color: #ff9800;
    box-shadow: 0 0 0 0.2rem rgba(255, 152, 0, 0.25);
  }
  
  .input-group-text {
    background-color: white;
    border: 1px solid #e0e0e0;
  }
  
  .flag-icon {
    width: 24px;
    height: 20px;
    margin-right: 5px;
  }
  
  .submit-btn {
    background-color: #febe60;
    border: none;
    padding: 1rem 2rem;
    font-weight: 500;
    width: 100%;
  }
  
  .submit-btn:hover {
    background-color: #f57c00;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .contact-info {
      padding: 2rem;
    }
    
    .main-title {
      font-size: 2.2rem;
    }
    
    .contact-form-wrapper {
      margin: 1rem;
      padding: 1.5rem;
    }
  }